{% if message.sender == current_user.uid%}
<div class="chat chat-end">
    <div class="chat-bubble text-sm">{{message.content }}</div>
</div>
{% else %}
<div class="chat chat-start">
    {% if message.is_bot() %}
    <div class="chat-bubble text-sm">{{message.content | safe}}</div>
    {% else %}
    <div class="chat-bubble text-sm">{{message.content}}</div>
    {% endif%}
</div>
{% endif %}