<div class="stats shadow">
    <div class="stat">
        <div class="stat-title">Stop</div>
        <div class="stat-value">{{paces_aggregate.stop}}</div>
    </div>
</div>
<div class="stats shadow">
    <div class="stat">
        <div class="stat-title">Slower</div>
        <div class="stat-value">{{paces_aggregate.slower}}</div>
    </div>
</div>
<div class="stats shadow">
    <div class="stat">
        <div class="stat-title">Ok</div>
        <div class="stat-value">{{paces_aggregate.ok}}</div>
    </div>
</div>