<!DOCTYPE html>
<html lang="en" data-theme="black">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  <title>Document</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <h1 class="text-xl font-bold p-4"><a href="/servers">Astroboy</a></h1>
  </header>
  <main class="p-4">
    {% block content %}
    <div>Placeholder</div>
    {% endblock %}
  </main>
</body>

</html>