{% extends "base.jinja" %}

{% block content %}
{% include "_sidebar.jinja" %}
<ul>
    {% for thread in threads %}
    <li>
        <a href="/threads/{{thread.id}}">{{thread.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}