{% extends "base.jinja" %}

{% block content %}
{% include "_sidebar.jinja" %}

<form class="flex gap-4 py-4">
    <textarea name="content" class="flex-grow textarea textarea-bordered" placeholder="Your question"></textarea>
    <button hx-post="/threads" hx-vars='{channel_id: "{{selected_channel.id}}"}' class="btn"
        hx-target="#threads">Post</button>
</form>

<div id="threads">
    {% include "_threads.jinja"%}
</div>
{% endblock %}